In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:
low_memory=False

In [10]:
a_2003 = "2003_CSVs/efile_newest_SFO_2003_A.csv"
a_2003_df = pd.read_csv(a_2003)

c_2003 = "2003_CSVs/efile_newest_SFO_2003_C.csv"
c_2003_df = pd.read_csv(c_2003)

f496p3_2003 = "2003_CSVs/efile_newest_SFO_2003_F496P3.csv"
f496p3_2003_df = pd.read_csv(f496p3_2003)

a_2007 = "2007_CSVs/efile_newest_SFO_2007_A.csv"
a_2007_df = pd.read_csv(a_2007)

c_2007 = "2007_CSVs/efile_newest_SFO_2007_C.csv"
c_2007_df = pd.read_csv(c_2007)

f496p3_2007 = "2007_CSVs/efile_newest_SFO_2007_F496P3.csv"
f496p3_2007_df = pd.read_csv(f496p3_2007)

a_2011 = "2011_CSVs/efile_newest_SFO_2011_A.csv"
a_2011_df = pd.read_csv(a_2011)

c_2011 = "2011_CSVs/efile_newest_SFO_2011_C.csv"
c_2011_df = pd.read_csv(c_2011)

f496p3_2011 = "2011_CSVs/efile_newest_SFO_2011_F496P3.csv"
f496p3_2011_df = pd.read_csv(f496p3_2011)

a_2019 = "2019_CSVs/efile_newest_SFO_2019_A.csv"
a_2019_df = pd.read_csv(a_2019)

c_2019 = "2019_CSVs/efile_newest_SFO_2019_C.csv"
c_2019_df = pd.read_csv(c_2019)

f496p3_2019 = "2019_CSVs/efile_newest_SFO_2019_F496P3.csv"
f496p3_2019_df = pd.read_csv(f496p3_2019)

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (32,33,34,35,43,44,50,51,52,69,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (32,42,43,50,51,52,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (28,50,52,58,59,60,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,42,43,48,49,50,68) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
a_2003_df.head()

,Filer_ID,Filer_NamL,Report_Num,Committee_Type,Rpt_Date,From_Date,Thru_Date,Elect_Date,tblCover_Office_Cd,tblCover_Offic_Dscr,...,Bal_Num,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_RefNo,BakRef_TID,XRef_SchNm,XRef_Match,Loan_Rate,Int_CmteId
0,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dfs = [a_2003_df, c_2003_df, f496p3_2003_df, a_2007_df, c_2007_df, f496p3_2007_df, a_2011_df, c_2011_df, f496p3_2011_df, a_2019_df, c_2019_df, f496p3_2019_df]

In [12]:
for i, e in enumerate(dfs):
    if i == 0:
        df1 = dfs[0]
    else:
        df2 = e
        df1 = pd.concat([df1, df2], axis = 0)

In [13]:
df1

,Filer_ID,Filer_NamL,Report_Num,Committee_Type,Rpt_Date,From_Date,Thru_Date,Elect_Date,tblCover_Office_Cd,tblCover_Offic_Dscr,...,Bal_Num,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_RefNo,BakRef_TID,XRef_SchNm,XRef_Match,Loan_Rate,Int_CmteId
0,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/16/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/16/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/09/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,08/19/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,08/19/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cnt = 0
for df in dfs:
    cnt = cnt + df.shape[0]
cnt

101269